md-dialog(aria-label="Apagar Imóvel")
  form(ng-cloak="")
    md-toolbar.md-warn
      .md-toolbar-tools
        h2 Apagar Registro de Imóvel    
        span(flex="")
        md-button.md-icon-button(ng-click="Cancel()")
          md-icon(md-svg-src="img/fechar.svg", aria-label="Fechar diálogo")
    md-dialog-content
      .md-dialog-content
        h2 Using .md-dialog-content class that sets the padding as the spec {{inscricao_incra}}
    md-dialog-actions(layout="row")
      span(flex="")
      md-button.md-raised.md-warn.md-hue-1(ng-click="Efetivar('OK')") Efetivar
      md-button.md-raised(type='button', ng-click="Cancel()") Cancelar