.modal-header
  h1 Teste
|   
.modal-body
  p corpo corpo
  |     
  p corpo corpo
  |     
  p corpo corpo
  |     
  p corpo corpo
  |     
  p corpo corpo
|   
.modal-footer
  md-button(ng-click="answer('not useful')")
    | Not Useful
  |     
  md-button.md-primary(ng-click="answer('useful')")
    | Useful
