doctype html
html
  head
    meta(charset='UTF-8')
    title Basic Usage
  body
    div(ng-controller='DemoCtrl', layout='column', ng-cloak='', ng-app='MyApp')
      
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js')
    script.
      var app = angular.module('MyApp',[]);
      app.controller('DemoCtrl', function($http,$scope) {
        $http.get('/teste/x').then(function(data) {
            return data.data
        });
      });